In [1]:
import numpy as np
import pandas as pd

In [10]:
reviews = pd.read_csv('reviews.csv', sep=';', encoding='windows-1251')

In [11]:
reviews.head()

,#,оценка заказа,комментарий,причина отзыва,идентификатор заказа,дата создания,id клиента,e-mail клиента,дата доставки,способ доставки,водитель,водитель табельный №,принадлежность ТС,собственник ТС,склад
0,1,5,NaN,"Вежливый курьер, Быстро доставлен заказ, Отлич...",90070681,15.12.2020 23:59,1754426,NaN,15.12.2020,Доставка курьером,Накусов Ибрагим Черменович,1586417,Собственный,АО ТД Перекресток,Троицкий-Онлайн
1,2,5,NaN,"Вежливый курьер, Быстро доставлен заказ, Акции...",90150047,15.12.2020 23:59,2374089,NaN,15.12.2020,Доставка курьером,Образцов Евгений,1532212,Собственный,АО ТД Перекресток,Троицкий-Онлайн
2,3,3,"Доставка была позже на 36 минут. Тыква гнилая,...","Долгое ожидание заказа, Доставлен некачественн...",90291411,15.12.2020 23:58,523473,streetsektor@mail.ru,15.12.2020,Доставка курьером,Иванов Сергей,1285622,Собственный,АО ТД Перекресток,Троицкий-Онлайн
3,4,2,Вместо груши конференц в пакете зелёные яблоки...,Заказ доставлен не полностью,90230631,15.12.2020 23:58,2202841,NaN,15.12.2020,Доставка курьером,Галунов Сергей Николаевич,1539202,Собственный,АО ТД Перекресток,Вешки-Онлайн
4,5,4,"Просила в примечании к заказу 4 кг фарша, разд...",Вежливый курьер,90243968,15.12.2020 23:57,438709,NaN,15.12.2020,Доставка курьером,Пешков Виталий,NaN,Наемный,ЛОРУС,Видное-Онлайн

In [12]:
features = ['id клиента', 'дата создания', 'оценка заказа']

In [13]:
reviews_clean = reviews[features]

In [20]:
reviews_clean.sample(20)

      id клиента     дата создания оценка заказа
32071     933966  30.11.2020 16:55             5
45358    2000504   26.11.2020 0:11             5
31722    2316224  30.11.2020 19:04             5
29332    1862406  01.12.2020 16:35             5
13268    2357925  09.12.2020 13:58             5
44107    2091912  26.11.2020 15:25             5
24246    1584849  03.12.2020 21:56             5
48816     709689  24.11.2020 16:21             4
35654    2307323  29.11.2020 11:57             4
32244     972295  30.11.2020 15:22             5
19941    1047824  05.12.2020 22:14             5
36829    2233102  28.11.2020 22:29             5
49632        NaN               NaN             5
39618        NaN               NaN           NaN
35474    1628626  29.11.2020 13:10             5
7037      634620  12.12.2020 11:57             5
22376    2331992  04.12.2020 21:55             5
37702     220827  28.11.2020 18:00             5
35679    1455264  29.11.2020 11:50             5
31699    1508927  30.11.2020 19:12             5

In [17]:
reviews_clean.shape

(51086, 3)

In [16]:
reviews_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51086 entries, 0 to 51085
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id клиента     47448 non-null  object
 1   дата создания  45721 non-null  object
 2   оценка заказа  49121 non-null  object
dtypes: object(3)
memory usage: 1.2+ MB

In [22]:
reviews_clean.dropna(inplace=True)

<ipython-input-22-b34b132a7d47>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reviews_clean.dropna(inplace=True)

In [38]:
reviews_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45721 entries, 0 to 51085
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id клиента     45721 non-null  object
 1   дата создания  45514 non-null  datetime64[ns]
 2   оценка заказа  45514 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 1.4+ MB

In [37]:
reviews_clean.sample(30)

      id клиента       дата создания  оценка заказа
2444      455580 2020-12-14 16:44:00            5.0
37366    2099096 2020-11-28 20:34:00            3.0
31819    2120909 2020-11-30 18:33:00            5.0
30457    1983864 2020-01-12 07:07:00            4.0
34824    2230982 2020-11-29 17:05:00            5.0
17792    1969871 2020-06-12 22:10:00            5.0
9107     2367153 2020-11-12 13:33:00            5.0
28729     704427 2020-01-12 21:19:00            5.0
46014     300255 2020-11-25 21:07:00            4.0
38213    2181753 2020-11-28 14:15:00            1.0
4744     1807528 2020-12-13 13:56:00            4.0
9295     1877236 2020-11-12 11:50:00            5.0
5218     2369629 2020-12-13 09:37:00            5.0
20671    1972356 2020-05-12 17:42:00            5.0
37847    2299132 2020-11-28 17:13:00            5.0
1024     1956339 2020-12-15 15:56:00            5.0
47826     665905 2020-11-25 00:19:00            5.0
2991     2367899 2020-12-14 09:45:00            2.0
33        328355 2020-12-15 23:37:00            5.0
43572    2117345 2020-11-26 19:33:00            5.0
37548    2303328 2020-11-28 19:36:00            5.0
3946     2268541 2020-12-13 20:08:00            5.0
30817    1642086 2020-11-30 23:31:00            5.0
30503    1719795 2020-01-12 04:50:00            5.0
15489    1921477 2020-08-12 07:12:00            5.0
36072    1720655 2020-11-29 09:24:00            5.0
46734    1289346 2020-11-25 16:12:00            5.0
35229    2034881 2020-11-29 14:29:00            5.0
14263    2048444 2020-08-12 21:12:00            5.0
17184    1955974 2020-07-12 09:53:00            4.0

In [28]:
reviews_clean['дата создания'] = pd.to_datetime(reviews_clean['дата создания'], errors='coerce')

<ipython-input-28-0eb968d30f00>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reviews_clean['дата создания'] = pd.to_datetime(reviews_clean['дата создания'], errors='coerce')

In [35]:
def map_reviews(review):
    if review == '1':
        return 1
    elif review == '2':
        return 2
    elif review == '3':
        return 3
    elif review == '4':
        return 4
    elif review == '5':
        return 5
    else:
        return None

In [36]:
reviews_clean['оценка заказа'] = reviews_clean['оценка заказа'].apply(lambda x: map_reviews(x))

<ipython-input-36-f992b8ee466e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reviews_clean['оценка заказа'] = reviews_clean['оценка заказа'].apply(lambda x: map_reviews(x))

In [48]:
reviews_clean['оценка заказа'] = reviews_clean['оценка заказа'].apply(lambda x: int(x))

<ipython-input-48-6c442d3899ca>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reviews_clean['оценка заказа'] = reviews_clean['оценка заказа'].apply(lambda x: int(x))

In [43]:
reviews_clean['id клиента'] = reviews_clean['id клиента'].apply(lambda x : int(x))

<ipython-input-43-43d64b045a11>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reviews_clean['id клиента'] = reviews_clean['id клиента'].apply(lambda x : int(x))

In [46]:
reviews_clean.dropna(inplace=True)

<ipython-input-46-b34b132a7d47>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reviews_clean.dropna(inplace=True)

In [49]:
reviews_clean.head()

   id клиента       дата создания  оценка заказа
0     1754426 2020-12-15 23:59:00              5
1     2374089 2020-12-15 23:59:00              5
2      523473 2020-12-15 23:58:00              3
3     2202841 2020-12-15 23:58:00              2
4      438709 2020-12-15 23:57:00              4

In [50]:
reviews_clean.dtypes

id клиента                int64
дата создания    datetime64[ns]
оценка заказа             int64
dtype: object

In [51]:
reviews_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45514 entries, 0 to 51085
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id клиента     45514 non-null  int64
 1   дата создания  45514 non-null  datetime64[ns]
 2   оценка заказа  45514 non-null  int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 1.4 MB

In [53]:
reviews_clean.to_csv('reviews_clean.csv', sep =';' ,encoding='windows-1251', index=False)